.container {
  width: 100%;
  padding: 12px;
  display: flex;
  border-radius: 8px;

  .leftBody {
    .headImg {
      width: 85px;
      height: 85px;

    }



  }
  .centerBody {

  }
  .rightBody {
    display: flex;
    flex-direction: column;


  }
}