.App {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.Scene {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.Person {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.Feedback {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.Inflow {
    width: 100vw;
    background: red;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
}


